@model StackExchange.Redis.RedisValue[]
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<p>浏览的产品记录</p>

<ul>
    @{
        foreach (var str in Model)
        {
            <li>@str</li>
        }
    }
</ul>
